<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    
    <title>Ips</title>
</head>
<body>
    
    
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <a id="to-top" class="btn btn-lg btn-dark" href="#top">
        <span class="sr-only">Toggle to Top Navigation</span>
        <i class="fa fa-chevron-up"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-danger pull-right hidden-md hidden-lg toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Bootstrap <strong>Hover SidNav</strong></a>
            </li>
            <li>
                <a href="#top" title="Go to Top">Home</a>
            </li>
            <li>
                <a href="#" title="Go to About Us section">About</a>
            </li>
            <li>
                <a href="#" title="Navigate to Jonathan Adcox IT Resume">Resume</a>
            </li>
            <li>
                <a href="#" title="Navigate to 'Our Services' section">Skills</a>
            </li>
            <!-- Future Development
            <li>
                <a href="#portfolio">Portfolio</a>
            </li> -->
            <li>
                <a href="#" title="Our Blog">Blog</a>
            </li>
            <li>
                <a data-href="#" data-href="#collapseTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="cursor:pointer;">Contact</a>
            </li>
            <li>
                <a data-toggle="modal" data-href="#loginModal" data-target="#loginModal" style="cursor:pointer;"> Hosting</a>
            </li>
        </ul>
    </nav>

    <div>
        <h1>Bienvenido</h1>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'nav.js' %}"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>