
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        
        
        <title>Ips</title>
    </head>
    <body>
        <div class="sidenav">
            <div class="login-main-text">
            <h2>Bienvenido</h2>
            <p>Inicia sesión para acceder</p>
            </div>
        </div>
        <div class="main">
            <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form method="POST">
                    {% csrf_token%}
                    <div class="form-group">
                        <label>Correo</label>
                        <input required type="email" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input required type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-black">Iniciar Sesion</button>
                    <a href="/register/" class="btn btn-secondary">Registrarse</a>
                </form>
            </div>
            </div>
        </div>
        
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </body>
</html>